.img-left{
  float: left;
  margin-right: 30px;
}

.rule-one_margin {
  display: inline-block;
  margin-bottom: 30px;
}



.rule-one-margin p:last-child {
  margin-bottom: 0;
}

.img-right {
  float: right;
}


.rule-one-padding__text {
  margin-right: 40px;
  max-width: 480px;
  display: inline-block;
}

.rule-one-padding P:last-child{
  margin-bottom: 0;
}
.rule-list__item {
  margin-bottom: 30px;
  text-align: center;
}

.rule-figure__text-border {
  border: 1px solid #000000;
  padding: 15px 30px;
  border-top: none 0;
  color: #5E5E5E;
  margin-bottom: 30px;
}

.rule-figure__text {
  padding-top: 30px;
}

.rule-figure:not(:last-child){
  margin-bottom: 30px;
}

.rule-figure__text:not(:last-child) {
  padding-top: 0;
  margin-bottom: 30px;
}




